@use '../../mixins' as *;
@use '../../media' as *;

.main {
  background-color: var(--color-body);

  &__inner {
    padding-top: 42px;
    padding-bottom: 51px;

    @include tablet-s {
      padding-block: 24px;
    }
  }

  &__service {
    display: flex;
    justify-content: space-between;

    &--title {
      font-weight: 700;
      font-size: 28px;
      line-height: 40px;
      position: relative;

      &::before {
        content: '';
        height: 29px;
        width: 4px;
        background-color: var(--color-mint);
        display: inline-block;
        position: absolute;
        left: -28px;
        top: 5px;

        @include desktop {
          left: -24px;
        }

        @include mobile-s {
          left: -16px;
        }
      }
    }

    &--btn-inner {
      display: flex;
      column-gap: 32px;

      @include desktop {
        display: none;
      }
    }

    &--repair,
    &--checkstatus {
      display: flex;
      align-items: center;
      column-gap: 8px;

      &.repair__text,
      &.checkstatus__text {
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
      }
    }
  }

  .main-menu {
    margin-top: 8px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    @include desktop {
      overflow-x: scroll;
      scrollbar-width: none;
      flex-wrap: nowrap;
      white-space: nowrap;
    }

    &__item {
      padding: 7px 21px;

      &.active {
        border: 1px solid var(--color-mint);
        background-color: var(--color-light);
        border-radius: 6px;
      }

      &--link {
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: var(--color-grey);
      }
    }
  }

  &__description {
    display: flex;
    justify-content: space-between;
    column-gap: 36px;
    margin-block: 16px;

    @include mobile-s {
      flex-wrap: wrap;
    }
    &--inner {
      flex-basis: 490px;
      display: flex;
      flex-direction: column;

      &--text {
        height: 160px;
        overflow: hidden;
        margin-bottom: 16px;
      }
    }

    &--image-inner {
      flex-basis: 531px;

      img {
        width: 100%;
      }
    }
  }
}
