@use '../../mixins' as *;
@use '../../media' as *;

.close {
  background-color: var(--color-pink);
  border-radius: 50%;
  height: 40px;
  width: 40px;
  position: absolute;
  left: 1px;
  top: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 20px;

  @include mobile-s {
    position: static;
    margin-top: 0;
  }

  &__line {
    background-color: var(--color-light);
    width: 22px;
    height: 2px;
    rotate: 45deg;

    &:last-child {
      rotate: -45deg;
      translate: 0.1px -1.7px;
    }
  }
}