 @use '../../mixins' as *;
@use '../../media' as *;
 
 .more {
      padding-block: 34px;
      display: flex;
      align-items: center;

     @include mobile-s {
         display: none;

     }
     &__text {
         margin: 0;
         color: var(--color-bold);
         font-size: 16px;
         line-height: 24px;
         font-weight: 500;
     }
     .rotate {
         transform: rotate(180deg);
     }

 }
